<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nicolas.clientefinalandroid2" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/loteriarn"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.ActivityCargaBarra"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.VentanaContabulaciones"
            android:configChanges="orientation"
            android:label="@string/title_activity_tabed"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.Tabs.ActivityCargaJugada"
            android:configChanges="orientation"
            android:label="@string/title_activity_tab1"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.Tabs.Tab2"
            android:label="@string/title_activity_tab2" >
        </activity>
        <activity
            android:name=".Activities.Tabs.Tab3"
            android:label="@string/title_activity_tab3" >
        </activity>
        <activity
            android:name=".Activities.ErrorParametersActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_error_parameters"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.Tabs.Tab1"
            android:configChanges="orientation"
            android:label="@string/title_activity_tab4"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.ActivityResultados"
            android:configChanges="orientation"
            android:label="@string/title_activity_activity_resultados"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.Tabs.Tab4"
            android:label="@string/title_activity_tab4" >
        </activity>
    </application>

</manifest>
